.background{
    background-color:#828282;
}
body,html{
    padding: 0;
    margin: 0;
}
body *{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 120%;
}
.container{
    background-color: white;
    padding: 0 0;
    display: block;
    width:1200px;
    min-width: 400px;
    margin: 0 auto;
}
.container--side--padding{
    padding: 0 20px 130px;
}
.navbar-section{
    position: fixed;
    top: 0;
    width: 1200px;
    min-width: 400px;
    z-index: 1000;
}
.stick-to-left-nav{
    list-style: none;
}
.navigation::after{
    content: " ";
    display: block;
    clear: both;
}
.large-image{
    position: relative;
    height: 100vh;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index:1;
    position: absolute;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.header__title{
    color: white;
    z-index: 10;
}
.navigation{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}
.navigation__link{
    list-style: none;
    text-align: center;
    padding: 14px 25px;
    background-color:black;
}
.navigation__link--float-right{
    margin-right: auto;
}
.navigation__link:hover{
    background-color:white;
    transition: background-color 1.5s 
}
.navigation__anchor{
    text-decoration: none;
    margin-top: 8px;
    color: white;
    font-size: 1em;
}
.navigation--horizon{
    justify-content: center;
}
.navigation__link:hover .navigation__anchor{
    color:black;
}
.justify-text{
    text-align: justify;
}

.less-bold{
    font-weight: 100;
}
.block{
    display: block;
    width: 100%;
    padding: 20px 0;
}
.block--spaceTop{
    z-index: 1;
}
.center-block{
    display: block;
    margin: 0 auto;
}
.contactHover:hover{
    background-color: black;
}
.contactHover:hover .navigation__anchor{
    color:white;
}
#contactMe{
    height: 100px;
    background-color: black;
}
.navigation--bottom{
    position: fixed;
    bottom: 0;
    width: 1200px;
    min-width:400px;
    z-index: 1000;
}
.email-me{
    padding: 20px 60px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 30px;
}
.email-me:hover{
    background-color: white;
    border: 0.5px solid black;
}
.email-address{
    text-decoration: none;
    color: white;
}
.email-me:hover .email-address{
    color: black;
}
.stick-to-left-nav{
    width: 80px;
    height: 70px;
    background: url(img/icons8_Iron_Man_40px.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    animation: icon-change 20s linear infinite alternate;  
}

@keyframes icon-change{
    0%{
        background: url(img/icons8_Captain_America_40px.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    20%{
        background: url(img/icons8_Thor_40px.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    40%{
        background: url(img/icons8_Iron_Man_40px.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    60%{
        background: url(img/icons8_Superman_40px_1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
    80%{
        background: url(img/icons8_Hulk_40px.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
}

.full-screen-image{
    width: 100%;
    height: 100%;
    background: url(img/allianz-arena-architecture-car-1103969.jpg);
    animation: change-image 20s linear infinite alternate;
}
@keyframes change-image{
    0%{
        background: url(img/allianz-arena-architecture-car-1103969.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    25%{
        background: url(img/aerial-asia-beach-584302.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    50%{
        background: url(img/architecture-beautiful-building-547125.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    75%{
        background: url(img/backlit-blue-sky-clouds-687782.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    100%{
        background:url(img/architecture-asphalt-automobiles-1115191.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.row{
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.col-6{
    width:45%;
    display: inline-block;
}
.col-6--right{
    vertical-align: top;
}
.iframe{
    width: 560px;
    height: 315px;
}
.icon-size{
    width: 30px;
}
.icon-size--large{
    list-style: none;
    text-align: center;
    padding: 14px 25px;
}
.show-and-hide{
    display: none;
}
.dropdown{
    position: fixed;
    z-index:1200;
    display: none;
    width: 400px;
}
#dropdown{
    width: 100%;
}
select,option{
    background-color: black;
    border: 0;
    color: #828282;
    padding: 5px 3px;
    box-sizing: border-box;
}
.text-shrink{
    font-size: 0.875rem;
}
.rotate{
    animation: rotate 5s linear infinite;
}
.rotate--modified{
    animation: rotate2 5s linear infinite;
}
@keyframes rotate{
    0%,50%{
        transform: rotate(3turn);
    }
}
@keyframes rotate2{
    50%,100%{
        transform: rotate(-3turn);
    }
}
/*Media query*/
@media screen and (max-width:768px){
    .large-image,.navbar-section,.navigation--bottom{
        width:700px;
    }
    .container{
        width: 700px;
    }
    .col-6{
        width: 100%;
    }
    .iframe{
        width: 480px;
    }
}
@media screen and (max-width:480px){
    .large-image,.navbar-section,.navigation--bottom{
        width:400px;
    }
    .container{
        width: 400px;
    }
    .col-6{
        width: 100%;
    }
    .iframe{
        width: 400px;
    }
    .stick-to-left-nav{
        margin-right: auto;
        list-style: none;
    }
    .show-and-hide{
        display: block;
        cursor: pointer;
        padding-right: 30px;
    }
    .navigation__link{
        display: none;
    }
    .img-shrink{
        width: 30px;
    }
}
